body,
body 	
	*{
    font-family: "Arial";
	}
body 
	{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
	}
table 
	{
    border-collapse: collapse;
    margin: 0px auto;
	}

table tr td 
	{
    border: 1px solid red;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
    transform: rotate(0deg);
    transform-origin: center center;
	}
