body,
body 	
	*{
    font-family: "Arial";
	}
body 
	{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
	}
table 
	{
    border-collapse: collapse;
    margin: 0px auto;
	}

